*.?#?
*~
*.FCStd1
/sw/serial/frog-serial.X/nbproject/private/
/sw/libfrog-serial.X/nbproject/private/
/sw/frog-player.X/nbproject/private/
/sw/frog-player.X/build/default/
/sw/libfrog-serial.X/dist/default/
/sw/frog-player.X/dist/default/
/src/frog-player.X/build/default/
/src/frog-player.X/nbproject/private/
/src/pic/InterfaceDemo.X/nbproject/private/
/src/pic/InterfaceDemo.X/build/default/
/src/pic/InterfaceDemo.X/dist/default/
/src/pic/FlashLed.X/nbproject/private/
/src/pic/FlashLed.X/build/default/
/src/pic/FlashLed.X/dist/default/
/src/pic/Tone.X/nbproject/private/
/src/pic/Tone.X/dist/default/
/src/pic/Tone.X/build/default/
/src/avr/FlashLed.X/build/
/src/avr/FlashLed.X/dist/
/src/avr/HelloWorld.X/dist/
/src/avr/HelloWorld.X/build/